.main-section-container {
  .load-more-button {
    width: 140px;
    height: 50px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background-color: #4e2a84;
    color: white;
  }
}
